<div v-bind:style="{width: width + 'px', height: height + 'px', textAlign: 'left'}"
     id="label-vue">
    <!--  工具栏  -->
    <div id="label-vue-tool-bar">
        <button v-on:click.stop="onCreateRectangle">Create Rectangle</button>
        <button v-on:click.stop="onCreatePolygon">Create Polygon</button>
        <button v-on:click.stop="onCreateLine">Create Line</button>
        <button v-on:click.stop="onCreateLineStrip">Create LineStrip</button>
        <button v-on:click.stop="onCreateCircle">Create Circle</button>
        <button v-on:click.stop="onEdit">Edit</button>
        <button v-on:click.stop="onRevoke">Revoke</button>
        <button v-on:click.stop="onDelete">Delete</button>
        <button v-on:click.stop="onSave">Save</button>
        <button v-on:click.stop="onSave"
                title="
Create Rectangle:alt+1
Create Polygon: alt+2
Create Line: alt+3
Create LineStrip: alt+4
Create Circle: alt+5
Edit: alt+`
Revoke: ctrl+z
Delete: delete">帮助
        </button>
    </div>

    <!--  编辑窗  -->
    <div id="label-vue-editor"
         v-on:click="onMouseClick"
         v-on:mousemove="onMousemove"
         v-on:dblclick="onMouseDoubleClick">
        <!--  背景板   -->
        <!--      <img v-bind:src="imgUrl"  alt=""/>-->
        <!--  画板   -->
        <svg v-bind:height="height"
             v-bind:width="width">
            <label-line-strip v-on:complete="onComplete"
                        v-on:graphClick="onGraphClick"
                        v-on:pointClick="onPointClick"
                        v-on:pointDragStart="onPointDragStart"
                        v-on:pointDragEnd="onPointDragEnd"
                        v-for="item of lines"
                        v-bind:meta-data="item"
                        v-bind:key="item.key"
                        v-bind:max-point="2"/>

            <label-line-strip v-on:complete="onComplete"
                              v-on:graphClick="onGraphClick"
                              v-on:pointClick="onPointClick"
                              v-on:pointDragStart="onPointDragStart"
                              v-on:pointDragEnd="onPointDragEnd"
                              v-for="item of lineStrips"
                              v-bind:meta-data="item"
                              v-bind:key="item.key"
                              v-bind:max-point="1000"/>

            <label-circle v-for="item of circles"
                          v-bind:meta-data="item"
                          v-bind:key="item.key"/>

            <label-rectangle v-for="item of rectangles"
                             v-bind:meta-data="item"
                             v-bind:key="item.key"/>

            <label-polygon v-for="item of polygons"
                           v-bind:meta-data="item"
                           v-bind:key="item.key"/>
        </svg>
    </div>
</div>
