<div id="label-vue">

    <!--工具栏-->
    <label-tool-bar v-on:createRectangle="onCreateRectangle"
                    v-on:createPolygon="onCreatePolygon"
                    v-on:createLine="onCreateLine"
                    v-on:createLineStrip="onCreateLineStrip"
                    v-on:createCircle="onCreateCircle"
                    v-on:edit="onEdit"
                    v-on:revoke="onRevoke"
                    v-on:delete="onDelete"
                    v-on:zoomIn="onZoomIn"
                    v-on:zoomOut="onZoomOut"
                    v-on:fitWindow="onFitWindow"
                    v-on:originalSize="onOriginalSize"
                    v-on:save="onSave"
    />

    <!-- 图形列表  -->
    <label-list v-bind:graphs="graphs"/>

    <!-- 文本框 -->
    <label-text-box v-bind:graph="textBoxGraph"
                    v-bind:position-x="textBoxPositionX"
                    v-bind:position-y="textBoxPositionY"
                    v-bind:show="textBoxShow"
                    v-on:ok="onTextBoxOK"/>
    <!--编辑窗-->
    <div id="label-vue-editor"
         ref="editor"
         v-bind:style="editorStyleObject">
        <!--画板-->
        <div id="label-vue-board"
             v-bind:style="boardStyleObject">

            <!--背景板-->
            <img id="label-vue-board-background"
                 ref="img"
                 v-bind:src="imgUrl"
                 v-on:load="onImgLoad"/>

            <svg id="label-vue-board-front"
                 v-bind:style="svgStyleObject"
                 v-on:click.stop="onMouseClick"
                 v-on:mousemove.stop="onMousemove">
                <!--线条图形-->
                <label-line-strip v-for="item of lines"
                                  v-bind:meta-data="item"
                                  v-bind:key="item.key"
                                  v-bind:line="true"
                                  v-bind:editModel="isEditModel"
                                  v-on:complete="onComplete"
                                  v-on:graphClick="onGraphClick"
                                  v-on:graphAltClick="onGraphAltClick"
                                  v-on:graphDragStart="onGraphDragStart"
                                  v-on:graphDragEnd="onGraphDragEnd"
                                  v-on:pointClick="onPointClick"
                                  v-on:pointDragStart="onPointDragStart"
                                  v-on:pointDragEnd="onPointDragEnd"/>

                <!--连线图形-->
                <label-line-strip v-for="item of lineStrips"
                                  v-bind:meta-data="item"
                                  v-bind:key="item.key"
                                  v-bind:line-strip="true"
                                  v-bind:editModel="isEditModel"
                                  v-on:complete="onComplete"
                                  v-on:graphClick="onGraphClick"
                                  v-on:graphAltClick="onGraphAltClick"
                                  v-on:graphDragStart="onGraphDragStart"
                                  v-on:graphDragEnd="onGraphDragEnd"
                                  v-on:pointClick="onPointClick"
                                  v-on:pointDragStart="onPointDragStart"
                                  v-on:pointDragEnd="onPointDragEnd"/>

                <!--多边形图形-->
                <label-line-strip v-for="item of polygons"
                                  v-bind:meta-data="item"
                                  v-bind:key="item.key"
                                  v-bind:polygon="true"
                                  v-bind:editModel="isEditModel"
                                  v-on:complete="onComplete"
                                  v-on:graphClick="onGraphClick"
                                  v-on:graphAltClick="onGraphAltClick"
                                  v-on:graphDragStart="onGraphDragStart"
                                  v-on:graphDragEnd="onGraphDragEnd"
                                  v-on:pointClick="onPointClick"
                                  v-on:pointDragStart="onPointDragStart"
                                  v-on:pointDragEnd="onPointDragEnd"/>

                <!--圆形图形-->
                <label-circle v-for="item of circles"
                              v-bind:meta-data="item"
                              v-bind:key="item.key"
                              v-bind:editModel="isEditModel"
                              v-on:complete="onComplete"
                              v-on:graphClick="onGraphClick"
                              v-on:graphAltClick="onGraphAltClick"
                              v-on:graphDragStart="onGraphDragStart"
                              v-on:graphDragEnd="onGraphDragEnd"
                              v-on:pointClick="onPointClick"
                              v-on:pointDragStart="onPointDragStart"
                              v-on:pointDragEnd="onPointDragEnd"/>

                <!--矩形图形-->
                <label-rectangle v-for="item of rectangles"
                                 v-bind:meta-data="item"
                                 v-bind:key="item.key"
                                 v-bind:editModel="isEditModel"
                                 v-on:complete="onComplete"
                                 v-on:graphClick="onGraphClick"
                                 v-on:graphAltClick="onGraphAltClick"
                                 v-on:graphDragStart="onGraphDragStart"
                                 v-on:graphDragEnd="onGraphDragEnd"
                                 v-on:pointClick="onPointClick"
                                 v-on:pointDragStart="onPointDragStart"
                                 v-on:pointDragEnd="onPointDragEnd"/>
            </svg>
        </div>
    </div>
</div>