/*布局*/
#label-vue {
    height: calc(100vh - 40px);
    margin: 20px;
    overflow: hidden;
    position: relative;
}

#label-vue-editor {
    height: calc(100% - 20px);
    margin: 0 50px;
    border: black 1px solid;
    overflow: auto;
}

#label-vue-board {
    position: relative;
    overflow: visible;
    transform-origin: 0 0;
}

#label-vue-board-front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*图形样式*/
.label-vue-graph.label-vue-edit-model:hover {
    cursor: pointer;
}

.label-vue-line {
    stroke-width: 1;
    stroke: green;
}

.label-vue-polygon .label-vue-line {
    stroke: red;
}

.label-vue-graph.label-vue-edit-model:hover .label-vue-line,
.label-vue-graph.label-vue-select .label-vue-line {
    stroke: white;
}

.label-vue-point {
    stroke: green;
    fill: green;
    stroke-width: 1;
}

.label-vue-polygon .label-vue-point {
    stroke: red;
    fill: red;
}

.label-vue-graph.label-vue-edit-model:hover .label-vue-point,
.label-vue-graph.label-vue-select .label-vue-point {
    stroke: white;
}

.label-vue-graph.label-vue-edit-model:hover .label-vue-point:hover,
.label-vue-graph.label-vue-select .label-vue-point.label-vue-select {
    stroke-width: 4
}

.label-vue-circle,
.label-vue-line,
.label-vue-lineStrip,
.label-vue-rectangle,
.label-vue-polygon {
    fill: transparent;
    fill-opacity: 0.6;
}

.label-vue-graph.label-vue-edit-model:hover .label-vue-circle,
.label-vue-graph.label-vue-select .label-vue-circle,
.label-vue-graph.label-vue-edit-model:hover .label-vue-line,
.label-vue-graph.label-vue-select .label-vue-line,
.label-vue-graph.label-vue-edit-model:hover .label-vue-lineStrip,
.label-vue-graph.label-vue-select .label-vue-lineStrip,
.label-vue-graph.label-vue-edit-model:hover .label-vue-rectangle,
.label-vue-graph.label-vue-select .label-vue-rectangle {
    fill: green;
}

.label-vue-graph.label-vue-edit-model:hover .label-vue-polygon,
.label-vue-graph.label-vue-select .label-vue-polygon {
    fill: red;
}