polyline {
    stroke: green;
    fill: transparent;
    stroke-width: 2;
}

polyline.label-vue-not-complete {
    stroke: greenyellow;
}

polyline.label-vue-select, polyline:hover {
    stroke: red;
    fill: red;
}

circle {
    stroke: green;
    fill: green;
    stroke-width: 2;
}

circle.label-vue-not-complete {
    stroke: greenyellow;
    fill: greenyellow;
}

circle.label-vue-select, circle:hover {
    stroke: red;
    fill: red;
}

rect {
    stroke: green;
    fill: transparent;
    stroke-width: 2;
}

rect.label-vue-not-complete {
    stroke: greenyellow;
}

rect.label-vue-select, rect:hover {
    stroke: red;
    fill: red;
}