polyline {
    stroke: green;
    stroke-width: 2;
    fill: transparent;
}

polyline.label-vue-not-complete {
    stroke: greenyellow;
}

circle {
    stroke: green;
    fill: green;
    stroke-width: 2;
}

circle.label-vue-not-complete {
    stroke: greenyellow;
    fill: greenyellow;
}

polyline.select, polyline:hover {
    stroke: red;
}

circle.select, circle:hover {
    stroke: red;
    fill: red;
}