<div id="label-vue-tool-bar">
    <button v-on:click.stop="onCreateRectangle" title="alt+1">创建矩形</button>
    <button v-on:click.stop="onCreatePolygon" title="alt+2">创建多边形</button>
    <button v-on:click.stop="onCreateLine" title="alt+3">创建线条</button>
    <button v-on:click.stop="onCreateLineStrip" title="alt+4">创建连线</button>
    <button v-on:click.stop="onCreateCircle" title="alt+5">创建圆形</button>
    <button v-on:click.stop="onEdit" title="alt+`">编辑图形</button>
    <button v-on:click.stop="onRevoke" title="ctrl+z">撤销</button>
    <button v-on:click.stop="onDelete" title="delete">删除</button>
    <button v-on:click.stop="onZoomIn" title="">放大</button>
    <button v-on:click.stop="onZoomOut" title="">缩小</button>
    <button v-on:click.stop="onFitWindow" title="">默认大小</button>
    <button v-on:click.stop="onOriginalSize" title="">原始大小</button>
    <button v-on:click.stop="onSave">保存</button>
    <button title="
完成创建: enter
拖动连接点：按下鼠标左键，移动鼠标
增加连接点：选中连接点，然后在适当位置alt+鼠标左键点击
">帮助
    </button>
</div>